/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lh: layer_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD";
            bindings =
                <&kp>,
                <&to>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        lalt_combo {
            bindings = <&sk LS(LC(LALT))>;
            key-positions = <16 19>;
        };

        layer0_combo {
            bindings = <&to 0>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp F             &kp P       &kp B                 &kp J       &kp L      &kp U    &kp Y  &kp SEMI  &none
&none  &kp A  &kp R  &kp S             &kp T       &kp G                 &kp M       &kp N      &kp E    &kp I     &kp O  &none
&none  &kp Z  &kp X  &kp C             &kp D       &kp V                 &kp K       &kp H  &kp COMMA  &kp DOT  &kp FSLH  &none
                     &none  &mt LSHIFT SPACE  &sk LSHIFT    &hm RALT BACKSPACE  &lh RGUI 1      &none
            >;
        };

        Layer__1 {
            bindings = <
&none  &none  &none  &none        &none  &none    &none         &none  &none  &none  &none  &none
&none  &none  &none  &none        &none  &none    &none         &none  &none  &none  &none  &none
&none  &none  &none  &none        &none  &none    &none         &none  &none  &none  &none  &none
                     &none  &lh LCTRL 0  &none    &none  &lh RSHIFT 2  &none
            >;
        };

        Layer__2 {
            bindings = <
&none  &none  &none  &none        &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none        &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none        &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &lh LCTRL 0  &none    &none  &none  &none
            >;
        };
    };
};
