/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lh: layer_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD";
            bindings =
                <&kp>,
                <&to>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
        lh_pht: left_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HAND_POSITIONAL_HOLD_TAP";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            quick-tap-ms = <200>;
            flavor = "tap-unless-interrupted";
            hold-trigger-key-positions = <19 20 21 22 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35>;
        };
    };

    combos {
        compatible = "zmk,combos";

        lalt_combo {
            bindings = <&sk LS(LC(LALT))>;
            key-positions = <16 19>;
        };

        layer0_combo {
            bindings = <&to 0>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none           &kp Q           &kp W            &kp F             &kp P       &kp B                 &kp J       &kp L      &kp U    &kp Y  &kp SEMI  &none
&none  &lh_pht LGUI A  &lh_pht LALT R  &lh_pht LCTRL S  &lh_pht LSHIFT T       &kp G                 &kp M       &kp N      &kp E    &kp I     &kp O  &none
&none           &kp Z           &kp X            &kp C             &kp D       &kp V                 &kp K       &kp H  &kp COMMA  &kp DOT  &kp FSLH  &none
                                                 &none         &kp SPACE  &sk LSHIFT    &hm RALT BACKSPACE  &lh RGUI 1      &none
            >;
        };

        Layer__1 {
            bindings = <
&none  &none  &none  &none        &none  &none    &none         &none  &none  &none  &none  &none
&none  &none  &none  &none        &none  &none    &none         &none  &none  &none  &none  &none
&none  &none  &none  &none        &none  &none    &none         &none  &none  &none  &none  &none
                     &none  &lh LCTRL 0  &none    &none  &lh RSHIFT 2  &none
            >;
        };

        Layer__2 {
            bindings = <
&none  &none  &none  &none        &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none        &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none        &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &lh LCTRL 0  &none    &none  &none  &none
            >;
        };
    };
};
